* {
    background-color: black;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.footer {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 64px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 100px;
}

.scorecards,
.buttons {
    display: flex;
    gap: 24px;
}

.player,
.computer {
    text-align: center;
    width: 300px;
}

button {
    padding: 12px 24px;
}