* {
    background-color: grey;
    border: 1px solid white;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 64px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 1;
}

.images,
.scores,
.buttons {
    display: flex;
    justify-content: space-around;
    width: 400px;
}



button {
    padding: 10px;
}